<.table
  id="songs"
  rows={@songs}
>
  <:col :let={song}>
    <.link phx-click={JS.push("vote", value: %{id: song.id})}>
      <.button><%= song.title %></.button>
    </.link>
  </:col>
</.table>

<.header>
  <:actions>
    <.link phx-click={JS.push("refresh", value: %{})}>
      <.button>Refresh</.button>
    </.link>
  </:actions>
</.header>
